In [3]:
import pandas as pd

In [17]:
airpassenger = pd.read_csv("airpassenger.csv")
airpassengers

            time  AirPassengers
0    1949.000000            112
1    1949.083333            118
2    1949.166667            132
3    1949.250000            129
4    1949.333333            121
..           ...            ...
139  1960.583333            606
140  1960.666667            508
141  1960.750000            461
142  1960.833333            390
143  1960.916667            432

[144 rows x 2 columns]

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [7]:
from matplotlib.pylab import rcParams
plt.rcParams['figure.figsize']=(12,5)
plt.rcParams['axes.grid']=False
plt.rcParams['font.size']=10
plt.rcParams['font.style']='normal'

In [11]:
print(airpassengers.info)
print('')
print(airpassengers.describe().round(decimals=2))
print('')

<bound method DataFrame.info of             time  AirPassengers
0    1949.000000            112
1    1949.083333            118
2    1949.166667            132
3    1949.250000            129
4    1949.333333            121
..           ...            ...
139  1960.583333            606
140  1960.666667            508
141  1960.750000            461
142  1960.833333            390
143  1960.916667            432

[144 rows x 2 columns]>

          time  AirPassengers
count   144.00         144.00
mean   1954.96         280.30
std       3.48         119.97
min    1949.00         104.00
25%    1951.98         180.00
50%    1954.96         265.50
75%    1957.94         360.50
max    1960.92         622.00